{{#if resume.awards.length}}
<section id="awards">
	<h2>😎 Achievements</h2>
	{{#each resume.awards}}
	<div class="item">
		{{#if date}}
		<div class="date">
			🗓 {{date}}
		</div>
		{{/if}}
		{{#if title}}
		<div class="title">
			<strong>{{title}}</strong>
		</div>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			{{summary}}
		</div>
		{{/if}}
		{{#if awarder}}
		<div class="awarder">
			{{awarder}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}